<div class="container">

  <h1>Assign Course</h1>

<div class="jumbotron">

<form [formGroup]="enrollmentForm">

  <div class="form-group position">
    <h4>Select Onboarder</h4>
    <mat-form-field appearance="fill">
      <mat-label>Onboarder</mat-label>
      <mat-select formControlName="onboarder">
        <mat-option *ngFor="let item of onboarder" [value]="item.onboarderId" >
          {{item.onboarderId}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group position">
    <h4>Select Course</h4>
    <mat-form-field appearance="fill">
      <mat-label>Course</mat-label>
      <mat-select formControlName="course">
        <mat-option *ngFor="let item of course" [value]="item.courseId" >
          {{item.courseName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-group">
    <label>Enter Enrollment Date:</label>
    <input type="date"
          min="{{this.date}}"
           class="form-control input"
           id="enrollment"
           name="enrollment"
           formControlName="OnboarderEnrollmentDate"
           placeholder="Enrollment Date">
  </div>

  <div class="">
    <button type="submit" class="btn btn-success" (click)="addCourse_Onboarder_Enrollment()">SAVE</button>
  </div>
</form>
</div>
</div>