<h1 class="container">Quiz in Progress</h1>
  
  <div class="container-fluid">

    <div *ngFor="let question of question; let x = index">

      <div class="panel panel-default">
        <div class="panel-heading">Question ID: {{question.questionId}}</div>
        <div class="panel-body">
          <h3>
            Question
            <br/>
            {{question.questionDescription}}
            <br/>
            <div class="form-group name">
              <input type="text"
                     class="form-control input"
                     id="answer"
                     name="answer"
                     [(ngModel)]="model"
                     placeholder="Answer...">
            </div>
            <br/>
            <button (click)="saveAnswer(x)">Save Answer</button>
          </h3>
        </div>
      </div>

      <hr>

    </div>

  </div>

  <button (click)="submitQuiz()">Submit</button>

  <div *ngIf="question.length == 0" class="container">
    <h2>You have completed your Quiz. Here are you marks</h2>
    <h1>Marks: {{score}}</h1>
  </div>