<p></p>

<h1>Course Center - Lesson Outcome</h1>

<div class="btn btn-link" (click)="testData()">Populate Data</div>

<div class="row">

  <div class="col-sm-6" *ngFor="let learning_outcome of lesson_outcome; let i = index">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{learning_outcome.lessonOutcomeName}}</h5>
        <p class="card-text">{{learning_outcome.lessonOutcomeDescription}}</p> 
        <button class="btn btn-warning" [routerLink]="['/take_quiz', learning_outcome.lessonOutcomeId]">Quiz</button>
        <a href="#" class="btn btn-primary" [routerLink]="['/take_content', learning_outcome.lessonOutcomeId]">Lesson Content</a>
      </div>
    </div>

    <p></p>

  </div>

</div>
